<h2>Sign up</h2>

<form action="/signup" method="post">
    <label for="username">username</label>
    <input type="text" name="username" id="username">
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Create user</button>
</form>